@font-face {
    font-family: 'Noto Sans';
    src: url('../fonts/NotoSans-Regular.ttf');
}

html, body {
    height: 100%;
}

.app {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Noto Sans', sans-serif;
    padding-top: 50px; /* for fixed navbar */
}

/* Hide file select input so we can customize it via another control */
#file_select {
    display: none;
}

footer {
    height: 5%;
    padding: 10px;
}

button {
    background-color: white;
}

button[id^='song-'] {
    background-color: white;
    border: 1px solid #ccc;
    border-right: none;
    width: 95%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

button[id^='delete-song-'] {
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    width: 5%;
    text-align: right;
    padding-right: 10px;
}

.song-button {
    height: 36px;
}

.current-song {
    background-color: bisque !important;
}

.playlist-controls {
    float: left;
}

.player-controls {
    float: right;
}

#now_playing {
    align-items: center;
    margin: auto;
}

#np_title {
    font-weight: bold;
    font-size: x-large;
}

#np_artist,
#np_album,
#np_year {
    font-size: x-large;
}

#playlist {
    width: 100%;
    height: 92%;
    overflow-y: scroll;
    margin: auto;
    position: absolute;
    top: 8%;
}

.album-art {
    width: 300px;
    padding-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .album-art {
        width: 300px;
        height: 300px;
        padding-bottom: initial;
    }

    #now_playing {
        height: 47.5%;

        position: absolute;
        top: 0;
        bottom: 47.5%;
        left: 0;
        right: 0;
    }

    #playlist {
        height: 47.5%;
        top: 52.5%; /* 100% - height */
    }
}

@media screen and (max-width: 767px) {
    /* Initially hide the playlist on mobile */
    #playlist {
        display: none;
    }

    #album_art_container,
    #song_details_container {
        margin-left: auto;
        margin-right: auto;
    }

    button[id^='song-'] {
        width: 90%;
        padding-left: 10px;
        text-align: left;
    }

    button[id^='delete-song-'] {
        width: 10%;
    }
}
